@model IEnumerable<Primis_Technical_Solutions.Models.Home_Banner>

@{
    ViewData["Title"] = "Index";
}

<!-- mian-content -->
<div class="main-w3layouts-header-sec inner-page" id="home">
    <div class="overlay-innerpage">
        <!-- header -->
        <!-- //header -->
    </div>
</div>

<section>
    <h1>Index</h1>
    <hr />
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(item.Title)
                    </td>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                    <td>
                        @Html.Raw(item.Image)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Home_BannerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Home_BannerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Home_BannerId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>

