@model Primis_Technical_Solutions.viewModel.AboutViewModel
@{
    ViewData["Title"] = "About Page";
}

@foreach (var BL in Model.Banner_Logos)
{
    <!-- mian-content -->
    <div class="main-w3layouts-header-sec inner-page" id="home" style=" background: url(@BL.About_Banner) no-repeat top; background-size: cover; min-height: 20em;">
        <div class="overlay-innerpage">
            <!-- header -->
            <!-- //header -->
        </div>
    </div>
}

<!-- //banner -->
<!-- //banner-botttom -->
<section class="content-info py-5" id="about">
    <div class="container py-md-5">
        <div class="text-center px-lg-5">
            @foreach (var IC in Model.Introductory_Contents)
            {
                <h3 class="title-w3pvt mb-5">@* About Us *@ @IC.About_Title</h3>
                <div class="title-desc text-center px-lg-5">
                    <p class="px-lg-5 sub-wthree">
                        @IC.About_Description
                 @*        We’re an IT consultancy founded in 2024 with the aim of redefining the consultancy experience by placing collaboration at the heart of our approach.
                        We don't just guide; we partner with you to deliver project management expertise on your cloud implementation journey, digital transformation
                        and expertise in networking that is not only seamless but reflective of your unique business goals and aspirations. *@
                    </p>
                    <a class="btn mt-lg-4 mt-3 read" href="single.html" role="button"><span class="fa fa-play" aria-hidden="true"></span></a>
                </div>
            }
        </div>
    </div>
</section>
<!-- //banner-botttom -->
<!-- /about -->
<section class="about py-md-5 py-5" id="about">
    <div class="container py-md-5">
        <div class="feature-grids row mt-3">
            @foreach (var SV in Model.Our_Sevices)
            {
                <div class="col-lg-4 gd-bottom mt-4">
                    <div class="bottom-gd p-lg-5 p-4 text-center">
                        <!-- Set the max-height for the image -->
                        <img src="@SV.Image" alt="@SV.Title" class="service-icon mx-auto d-block" style="max-height: 212px; width: 100%; height: 100%;">
                        <h3 class="my-3">@SV.Title</h3>
                        <p>@SV.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- //about -->
<!--/banner-bottom -->
<section class="collections-gid-w3layouts" id="skills">
    <div class="container-fluid">
        <div class="row">
            @foreach (var OT in Model.Our_Teams)
            {
                <div class="col-lg-6 progress-content-img px-lg-0">
                    <img src="@OT.Image" alt="" class="img-fluid image1">
                </div>
                <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                    <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                        <h3 class="title-w3pvt mb-5">@OT.Title</h3>

                        <p>
                            @OT.Description
                        </p>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!-- /full-grid -->
<!--/banner-bottom -->
<section class="collections-gid-w3layouts">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    @foreach (var OP in Model.Our_Partners)
                    {
                        <h3 class="title-w3pvt mb-5">@OP.Partner_Title</h3>

                        <p>
                            @OP.Partner_Description
                        </p>

                    }

                    <div class="row mt-5">
                        <div class="col-6 stats_w3layouts_counter_grid mt-4">
                            <span class="fa fa-building-o f1"></span>
                            @* <p class="counter">1568</p> *@
                            <p class="para-w3layouts">Network Design services</p>
                        </div>
                        <div class="col-6 stats_w3layouts_counter_grid mt-4">
                            <span class="fa fa-smile-o f2"></span>
                            @* <p class="counter">1900</p> *@
                            <p class="para-w3layouts">Network Support services</p>
                        </div>
                        <div class="col-6 stats_w3layouts_counter_grid mt-4">
                            <span class="fa fa-folder-open-o f3"></span>
                            @* <p class="counter">1422</p> *@
                            <p class="para-w3layouts">Multi-vendor Wireless Point-to-point devices</p>
                        </div>
                        <div class="col-6 stats_w3layouts_counter_grid mt-4">
                            <span class="fa fa-users f4"></span>
                            @* <p class="counter">400</p> *@
                            <p class="para-w3layouts">Access Points and Wireless Controllers </p>
                        </div>
                    </div>
                </div>

            </div>
            @foreach (var OP in Model.Our_Partners)
            {
                <div class="col-lg-6 progress-content-img two px-lg-0">
                    <img src="@OP.Partner_Image" alt="" class="img-fluid image1">
                </div>

            }

        </div>
    </div>
</section>
<!-- /banner-bottom -->
<!-- /features -->
<section class="about py-md-5 py-5" id="services">
    <div class="container py-md-5">
        <h3 class="title-w3pvt text-center mb-5">Our Features</h3>
        <div id="featureCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var features = Model.Our_Features.ToList();
                    int totalSlides = (int)Math.Ceiling((double)features.Count / 3);

                    for (int slideIndex = 0; slideIndex < totalSlides; slideIndex++)
                    {
                        bool isActive = slideIndex == 0;
                        <div class="carousel-item @(isActive ? "active" : "")">
                            <div class="feature-grids row mt-5">
                                @for (int cardIndex = slideIndex * 3; cardIndex < (slideIndex + 1) * 3 && cardIndex < features.Count; cardIndex++)
                                {
                                    var feature = features[cardIndex];
                                    <div class="col-md-4 text-center" style="padding: 1rem;">
                                        <div class="card">
                                            <img src="@feature.Image" class="card-img-top img-fluid" alt="Feature Image">
                                            <div class="card-body">
                                                <h3 class="card-title">@feature.Title</h3>
                                                <p class="card-text">@feature.Short_Description</p>
                                                <a href="@Url.Action("Services", "Home", new { image = feature.Image, title = feature.Title, description = feature.Long_Description })" class="btn btn-primary">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#featureCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#featureCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!-- //features -->
<!--/gallery -->
@{
    if (Model.Team_Members.Any())
    {
        <section class="gallery py-5">
            <div class="container py-md-5">
                <h3 class="title-w3pvt text-center mb-5">Our Team</h3>
                <div class="feature-grids team row mt-3">
                    @foreach (var TM in Model.Team_Members)
                    {
                        <div class="col-lg-4 gd-bottom team-wthree-gd mt-4">
                            <div class="bottom-gd p-lg-5 p-4">
                                <img src="@TM.Image" alt="" class="img-fluid image1">
                                <h3 class="my-3">@TM.Name</h3>
                                <p>@TM.Position</p>
                                <ul class="banner-w3layouts-top-icons mt-3">
                                    <li class="icons mx-auto">
                                        <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    </li>
                                    <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                    <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
}

<!-- //gallery-->
<!-- partners -->
@{
    if (Model.Partners_Sections.Any())
    {
        <section class="partners py-5" id="partners">
            <div class="container py-md-3">
                <h3 class="title-w3pvt two text-center mb-5">Our Partners</h3>
                <div class="row grid-part text-center">
                    @foreach (var PT in Model.Partners_Sections)
                    {
                        <div class="col-md-2 col-4 mt-3">
                            <div class="partner-w3pvt">
                                <a href="#"><img src="@PT.Partner_Icon" alt="Partner Image" style="height: 125px;"></a>
                                <h4>@PT.Partner_Title</h4>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
}

<!-- //partners -->