@model Primis_Technical_Solutions.viewModel.ContactViewModel
@{
    ViewData["Title"] = "Contact Page";
}

@foreach (var BL in Model.Banner_Logos)
{
    <!-- mian-content -->
    <div class="main-w3layouts-header-sec inner-page" id="home" style=" background: url(@BL.Contact_Banner) no-repeat top; background-size: cover; min-height: 20em;">
        <div class="overlay-innerpage">
            <!-- header -->
            <!-- //header -->
        </div>
    </div>
}

<!-- //banner -->
<!-- //banner-botttom -->
<section class="content-info py-5">
    <div class="container py-md-5">
        <div class="text-center px-lg-5">
            @foreach (var IC in Model.Introductory_Contents)
            {
                <h3 class="title-w3pvt mb-5">@* Contact Us *@ @IC.Contact_Title</h3>
                <div class="title-desc text-center px-lg-5">
                    <p class="px-lg-5 sub-wthree">
                        @IC.Contact_Description
                        @* The team at Primis Technical Solution Ltd is carefully selected to ensure they are highly experienced specialists in their respective disciplines.
                        They understand your business imperatives and platforms. *@
                    </p>
                </div>

            }
        </div>
        <div class="contact-w3pvt-form mt-5">
            <form action="#" class="w3layouts-contact-fm" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" name="Name" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" name="Name" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" name="Email" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Reason for contacting us</label>
                            <select class="form-control" name="Reason">
                                @foreach (var CR in Model.Contact_Reasons)
                                {
                                    <option value="@CR.Reason_For_Contact">@CR.Reason_For_Contact</option>
                                }
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Write Message</label>
                            <textarea class="form-control" name="Message" placeholder="" required=""></textarea>
                        </div>
                    </div>
                    <div class="form-group mx-auto mt-3">
                        <button type="submit" class="btn submit">Submit</button>
                    </div>
                </div>

            </form>
        </div>



    </div>
</section>
<!-- //banner-botttom -->

<div class="map-w3layouts">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27404345275!2d-118.69191921441556!3d34.02016130939095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522474296007" allowfullscreen=""></iframe>
</div>