@model Primis_Technical_Solutions.viewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<section class="banner_w3pvt">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />
        <input type="radio" name="slides" id="slides_3" />

        <ul>
            @foreach (var HB in Model.Home_Banners)
            {
                <li>
                    <div class="banner-top" style="background: url(@HB.Image) no-repeat center; background-size: cover;">
                        <div class="overlay">
                            <div class="container">
                                <div class="banner-info">
                                    <div class="banner-w3layouts-inner text-center">
                                        <h4>@HB.Description</h4>
                                        <h3>@HB.Title</h3>
                                        <ul class="banner-w3layouts-top-icons text-center">
                                            <li class="icons mx-auto">
                                                Connect With Us :
                                            </li>
                                            <li class="icons mx-auto">
                                                <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                            </li>
                                            <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                            <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


            }
@*             <li>
                <div class="banner-top">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Strategy</h3>
                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top1">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Guidance</h3>
                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner-top2">
                    <div class="overlay">
                        <div class="container">
                            <div class="banner-info">
                                <div class="banner-w3layouts-inner text-center">
                                    <h4>Welcome to My Website</h4>
                                    <h3>Progress</h3>

                                    <ul class="banner-w3layouts-top-icons text-center">
                                        <li class="icons mx-auto">
                                            Connect With Us :
                                        </li>
                                        <li class="icons mx-auto">
                                            <a href="#" class="face-bk"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                        </li>

                                        <li class="icons mx-auto"><a href="#" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                                        <li class="icons mx-auto"><a href="#" class="dribble"><span class="fa fa-dribbble"></span></a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li> *@

        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>

        </div>
    </div>
</section>
<!-- //slider -->

<!-- //banner -->
<!-- //banner-botttom -->
<section class="content-info py-5" id="about">
    <div class="container py-md-5">
        <div class="text-center px-lg-5">
            @foreach (var IC in Model.Introductory_Contents)
            {
                <div class="title-desc text-center px-lg-5">
                    <p class="px-lg-5 sub-wthree">@IC.Home_Description
                        @* At Primis Technical Solutions we offer comprehensive project management consultation and implementation services
                        for cloud computing and digital transformation goals and provide network services.We follow a holistic approach,
                        addressing strategic aspects of cloud adoption, migration, security consulting, cloud infrastructure management and networking services. *@
                    </p>
                    <a class="btn mt-lg-4 mt-3 read" href="single.html" role="button"><span class="fa fa-play" aria-hidden="true"></span></a>
                </div>

            }
        </div>
    </div>
</section>
<!-- //banner-botttom -->
<!-- /about -->
<section class="about py-md-5 py-5" id="about">
    <div class="container py-md-5">
        <div class="feature-grids row mt-3">
            @foreach (var SV in Model.Our_Sevices)
            {
                <div class="col-lg-4 gd-bottom mt-4">
                    <div class="bottom-gd p-lg-5 p-4">
                        <img src="@SV.Image" alt="@SV.Title" class="service-icon" style="height: 80px;">
                        <h3 class="my-3">@SV.Title</h3>
                        <p>@SV.Description</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- //about -->
<!--/banner-bottom -->
<section class="collections-gid-w3layouts" id="skills">
    <div class="container-fluid">
        <div class="row">
            @foreach (var SK in Model.Our_Skills)
            {
                <div class="col-lg-6 progress-content-img px-lg-0">
                    <img src="@SK.Image" alt="" class="img-fluid image1">
                </div>
                <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                    <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                        <h3 class="title-w3pvt mb-5">@SK.Title</h3>

                        <p>
                            @SK.Description
                        </p>
                    </div>
                </div>

            }

@*             <div class="col-lg-6 progress-content-img px-lg-0">
                <img src="images/img1.jpg" alt="" class="img-fluid image1">
            </div>
            <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    <h3 class="title-w3pvt mb-5">Our Skills</h3>

                    <p>
                        We provide skilled project managers, network engineers, cyber security analysts and developer.
                        We enable the design, architecture, implementation, support, and delivery of your complex technical solutions.
                    </p>
                    <div class="progress-w3pvt mt-5">
                        <div class="progress-one">
                            <h4 class="progress-wthree">Design</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one my-lg-4">
                            <h4 class="progress-wthree">Architecture</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one">
                            <h4 class="progress-wthree">Implementation</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one my-lg-4">
                            <h4 class="progress-wthree">Support</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one">
                            <h4 class="progress-wthree">Delivery</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</section>
<!-- /full-grid -->
<!--/banner-bottom -->
<section class="collections-gid-w3layouts">
    <div class="container-fluid">
        <div class="row">
            @foreach (var SC in Model.Our_Sectors)
            {
                <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                    <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                        <h3 class="title-w3pvt mb-5">@Html.Raw(SC.Title)</h3>

                        <p>
                            @Html.Raw(SC.Description)
                        </p>
                        
                    </div>

                </div>
                <div class="col-lg-6 progress-content-img two px-lg-0">
                    <img src="@SC.Image" alt="" class="img-fluid image1">
                </div>

            }
@*             <div class="col-lg-6 progress-content text-left p-lg-5 my-lg-5">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    <h3 class="title-w3pvt mb-5">Our Sectors</h3>

                    <p>
                        We cater to a varity of customers from any sector that requires cloud strategy development, 
                        Infrastructure Assessment and Migration Planning, Security and Compliance Integration, Continuous Monitoring and Optimisation,
                        Project Management and Execution, digital transformation solution and networking services.
                    </p>
                    <ul class="tic-info list-unstyled mt-5">

                        <li>

                            <span class="fa fa-check mr-2"></span> Cloud Strategy Development

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Infrastructure Assessment and Migration Planning

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Security and Compliance Integration

                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Continuous Monitoring and Optimisation

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Project Management and Execution

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Digital Transformation Solution and Networking Services

                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6 progress-content-img two px-lg-0">
                <img src="images/img2.jpg" alt="" class="img-fluid image1">
            </div> *@
        </div>
    </div>
</section>
<!-- /banner-bottom -->
<!-- /features -->
<section class="about py-md-5 py-5" id="services">
    <div class="container py-md-5">
        <h3 class="title-w3pvt text-center mb-5">Our Features</h3>
        <div id="featureCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var features = Model.Our_Features.ToList();
                    int totalSlides = (int)Math.Ceiling((double)features.Count / 3);

                    for (int slideIndex = 0; slideIndex < totalSlides; slideIndex++)
                    {
                        bool isActive = slideIndex == 0;
                        <div class="carousel-item @(isActive ? "active" : "")">
                            <div class="feature-grids row mt-5">
                                @for (int cardIndex = slideIndex * 3; cardIndex < (slideIndex + 1) * 3 && cardIndex < features.Count; cardIndex++)
                                {
                                    var feature = features[cardIndex];
                                    <div class="col-md-4 gd-bottom text-center p-lg-5">
                                        <div class="card">
                                            <img src="@feature.Image" class="card-img-top" alt="Feature Image">
                                            <div class="card-body">
                                                <h3 class="card-title">@feature.Title</h3>
                                                <p class="card-text">@feature.Short_Description</p>
                                                 <a href="@Url.Action("Services", "Home", new { image = feature.Image, title = feature.Title, description = feature.Long_Description })" class="btn btn-primary">Learn More</a>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                @* <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a> *@
@*                 <a href="@Url.Action("Services", "Home", new { image = feature.Image, title = feature.Title, description = feature.Long_Description })" class="btn btn-primary">Learn More</a>
 *@
            </div>
            <a class="carousel-control-prev" href="#featureCarousel" role="button" data-slide="prev" style="left:-110px">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#featureCarousel" role="button" data-slide="next" style="right:-110px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

@* <section class="about py-md-5 py-5" id="services">
    <div class="container py-md-5">
        <h3 class="title-w3pvt text-center mb-5">Our Features</h3>
        <div id="featureCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <!-- First Slide -->
                <div class="carousel-item active">
                    <div class="feature-grids row mt-5">
                        <!-- Feature 1 -->
                        <div class="col-md-4 gd-bottom text-center p-lg-5">
                            <div class="card">
                                <img src="~/assets/images/g1.jpg" class="card-img-top" alt="Project Management Image">
                                <div class="card-body">
                                    <h3 class="card-title">Project Management and Execution</h3>
                                    <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @foreach (var FT in Model.Our_Features)
                {
                    <!-- First Slide -->
                    <div class="carousel-item">
                        <div class="feature-grids row mt-5">
                            <!-- Feature  -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="@FT.Image" class="card-img-top" alt="Project Management Image">
                                    <div class="card-body">
                                        <h3 class="card-title">@FT.Title</h3>
                                        <p class="card-text">@FT.Description</p>
                                        <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                }



@*                     <!-- First Slide -->
                    <div class="carousel-item active">
                        <div class="feature-grids row mt-5">
                            <!-- Feature 1 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g1.jpg" class="card-img-top" alt="Project Management Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Project Management and Execution</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>
                                </div>
                                </div>
                            </div>

                            <!-- Feature 2 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g2.jpg" class="card-img-top" alt="Cloud Strategy Development Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Cloud Strategy Development</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>

                                    </div>
                                </div>
                            </div>

                            <!-- Feature 3 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g3.jpg" class="card-img-top" alt="Infrastructure Assessment and Migration Planning Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Infrastructure Assessment and Migration Planning</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Second Slide -->
                    <div class="carousel-item">
                        <div class="feature-grids row mt-5">
                            <!-- Feature 4 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g4.jpg" class="card-img-top" alt="Security and Compliance Integration Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Security and Compliance Integration</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>

                                    </div>
                                </div>
                            </div>

                            <!-- Feature 5 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g5.jpg" class="card-img-top" alt="Continuous Monitoring and Optimisation Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Continuous Monitoring and Optimisation</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>

                                    </div>
                                </div>
                            </div>

                            <!-- Feature 6 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g6.jpg" class="card-img-top" alt="Network Design Services Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Network Design Services</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Third Slide -->
                    <div class="carousel-item">
                        <div class="feature-grids row mt-5">
                            <!-- Feature 7 -->
                            <div class="col-md-4 gd-bottom text-center p-lg-5">
                                <div class="card">
                                    <img src="~/assets/images/g6.jpg" class="card-img-top" alt="Network Support Services Image">
                                    <div class="card-body">
                                        <h3 class="card-title">Network Support Services</h3>
                                        <p class="card-text">Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                                    <a asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary">Learn More</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>  

            </div>
            <a class="carousel-control-prev" href="#featureCarousel" role="button" data-slide="prev" style="left:-110px">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#featureCarousel" role="button" data-slide="next" style="right:-110px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section> *@
<!-- //features -->
<!--/gallery -->
@if (Model.Portfolios.Any())
{
    <section class="gallery py-5" id="gallery">
        <div class="container py-md-5">
            <h3 class="title-w3pvt text-center mb-5">Our Portfolio</h3>
            <div class="gallery-content">
                <div class="row">
                    @{
                        int counter = 1;
                    }
                    @foreach (var PF in Model.Portfolios)
                    {
                        <div class="col-md-4 col-sm-6 gal-img">
                            <a href="#gal@counter"><img src="@PF.Portfolio_Image" alt="aegis" class="img-fluid mt-4"></a>
                        </div>
                        counter++;
                    }
                </div>
                <!-- gallery popups -->
                @{
                    int cntr = 1;
                }
                @foreach (var PF in Model.Portfolios)
                {
                    <div id="gal@cntr" class="popup-effect">
                        <div class="popup">
                            <img src="@PF.Portfolio_Image" alt="Popup image" class="img-fluid mt-4" />
                            <a class="close" href="#gallery">&times;</a>
                        </div>
                    </div>
                    cntr++;
                }
            </div>
        </div>
    </section>
}
<!-- //gallery-->
<!-- Industries Carousel -->
<section class="partners py-5" id="partners">
    <div class="container py-md-3">
        <h3 class="title-w3pvt two text-center mb-5">Industries</h3>


        <div id="industriesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var industries = Model.Our_Industries.ToList();
                    int total = (int)Math.Ceiling((double)industries.Count / 6);

                    for (int slideIndex = 0; slideIndex < total; slideIndex++)
                    {
                        bool isActive = slideIndex == 0;
                        <div class="carousel-item @(isActive ? "active" : "")">
                            <div class="row grid-part text-center">
                                @for (int itemIndex = slideIndex * 6; itemIndex < (slideIndex + 1) * 6 && itemIndex < industries.Count; itemIndex++)
                                {
                                    var industry = industries[itemIndex];
                                    <div class="col-md-2 col-4 mt-3">
                                        <div class="partner-w3pvt">
                                            <a href="#">
                                                <img src="@industry.Indutry_Icon" alt="@industry.Industry_Title" class="industry-icon" style="height: 75px;">
                                            </a>

                                            <h4>@industry.Industry_Title</h4>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- Carousel Navigation Arrows -->
            <a class="carousel-control-prev" href="#industriesCarousel" role="button" data-slide="prev" style="left:-116px">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#industriesCarousel" role="button" data-slide="next" style="right:-116px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!-- //Industries Carousel -->


