@model Primis_Technical_Solutions.Models.Introductory_Content

@{
    ViewData["Title"] = "Delete";
}

<!-- mian-content -->
<div class="main-w3layouts-header-sec inner-page" id="home">
    <div class="overlay-innerpage">
        <!-- header -->
        <!-- //header -->
    </div>
</div>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Introductory_Content</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntroVideo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroVideo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Introductory_ContentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
