@model Primis_Technical_Solutions.Models.Introductory_Content

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Introductory_Content</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Introductory_ContentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
