@model IEnumerable<Primis_Technical_Solutions.Models.Our_Industry>

@{
    ViewData["Title"] = "Index";
}

<!-- mian-content -->
<div class="main-w3layouts-header-sec inner-page" id="home">
    <div class="overlay-innerpage">
        <!-- header -->
        <!-- //header -->
    </div>
</div>

<h1>Index</h1>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Industry_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indutry_Icon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Industry_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indutry_Icon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Our_IndustryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Our_IndustryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Our_IndustryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
