@model IEnumerable<Primis_Technical_Solutions.Models.Our_Partner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Partner_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner_Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Partner_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner_Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Our_PartnerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Our_PartnerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Our_PartnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
